---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const pageTitle = "Sobre mi";

const goal = 25;  // Total de libros a leer
const booksRead = 5;  // Libros leídos hasta ahora


// Calcular el porcentaje de progreso
const progressPercentage = (booksRead / goal) * 100;

---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <!--<img class="page-cover-image" src="https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-4.0.3&amp;q=85&amp;fm=jpg&amp;crop=entropy&amp;cs=srgb" style="object-position:center 50%">-->
    <title>{pageTitle}</title>
    <style>
      h1 {
        color: rgb(228, 17, 144);
        font-size: 4rem;
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: -30px;
      }
      h2 {
        color: deeppink;
        font-family: 'Times New Roman', Times, serif;
      }
      .dark h1{
        color: #f286c4;
      }
      .dark h2{
        color: #f286c4;
      }
    </style>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <h2>... ¡y lo que encontrarás en este blog!</h2>

    <p style="text-align:justify;">¡Hola! Soy Amerik, amante de los libros y la tecnología. Vivo en México y actualmente estudio Ingeniería en Computación. Aunque mi carrera está llena de códigos y algoritmos, siempre encuentro tiempo para perderme en las páginas de un buen libro.</p>
    <p style="text-align:justify;">Desde pequeña, la lectura ha sido mi refugio y mi mejor forma de viajar sin salir de casa. Me encantan los mundos de fantasía, los thrillers llenos de misterio y las historias que dejan una huella en el corazón. A través de este blog, quiero compartir mis lecturas, recomendaciones y opiniones sobre los libros que me han atrapado.</p>
    <p style="text-align:justify;">Cuando no estoy programando o devorando un libro, me gusta descubrir nuevas historias, debatir sobre finales inesperados y agregar más títulos a mi eterna lista de pendientes.</p>
    <p style="text-align:justify;">Bienvenid@ a mi rincón literario. ¡Espero que disfrutes este viaje entre páginas tanto como yo!</p>
    <br>
    <br>
    <p style="text-align:justify;">Este año me propuse leer al menos 25 libros, explorando diferentes géneros y descubriendo nuevas historias. Aquí llevo el progreso de mi desafío:</p>

    <!-- Barra de Progreso -->
    <div class="progress-bar-background">
      <div class="progress-bar" style={`width: ${progressPercentage}%`}></div>
    </div>
    <ul>
      <p style="text-align: center;">Libros leídos hasta ahora: {booksRead} de {goal}</p>
    </ul>

    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
