---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Amerik's Reading Corner";
const allPosts = await Astro.glob('../pages/posts/*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const goal = 25;  // Total de libros a leer
const booksRead = 4;  // Libros leídos hasta ahora
const progressPercentage = (booksRead / goal) * 100;
---
<BaseLayout pageTitle={pageTitle}>
  <style>
    header{
      font-family: 'Times New Roman', Times, serif;
    }
  </style>
  <body>
    <header>
      <h2 style="text-align: center;">Bienvenid@ a mi rincón literario</h1>
      <p>Un espacio dedicado a mis lecturas, reseñas y desafíos literarios. ¡Espero que disfrutes este viaje entre páginas!</p>
    </header>
   <div style="display: flex; gap: 20px; margin-top: 10px; text-align: justify;">
    <div style="flex: 1;">
    <section id="reading-challenge">
      <h2 class="HeaderPink">Mi Desafío de Lectura 2025</h2>
      <p>Este año me propuse leer 25 libros, y aquí va mi progreso:</p>
      <div class="progress-bar-background">
        <div class="progress-bar" style={`width: ${progressPercentage}%`}></div>
      </div>
      <p style="text-align: center;">Libros leídos hasta ahora: {booksRead} de {goal}</p>
    </section>
    </div>
    <div style="flex: 1;">
        <!-- Últimas reseñas -->
        <section id="latest-reviews">
          <h2 class="HeaderBlue">Últimas Reseñas</h2>
          <ul class="Blogs">
            {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
          </ul>
        </section>
    </div>
   </div>
     <!-- Categorías de libros -->
     <section id="genres">
      <h2 class="HeaderP">Explora mis géneros literarios</h2>
      <ul class="Tags">
        {tags.map((tag) => (
          <li key={tag} className="tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </li>
        ))}
      </ul>
      
    </section>
    <section id="about" class="Footer">
      <h2>¿Quién soy?</h2>
      <p style="margin-top: -20px;">¿Quieres saber más sobre mí? <a href="/about">Descubre mi historia</a></p>
    </section>
  </body>
</BaseLayout>



