---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <p><em>{frontmatter.description}</em>  
    <br>{frontmatter.pubDate.toString().slice(0,10)}
    <br>Escrito por: {frontmatter.author}
  </p>
  

  <!--<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />-->

  <div class="tags" style="text-align: center;">
    {frontmatter.tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>

  <slot />
</BaseLayout>
<style>
  a {
    color: #e62994;
  }

  .tags {
    display:flex;
    flex-wrap:wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #ff6fca;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1em;
    background-color: #ffffff;
  }
</style>